<form class="formulaire" action="/ajouter" method="POST">
 <input type="text" placeholder="<%= __('nom')%>" name="nom" id='nom'>
  <input type="text" placeholder="<%= __('prenom')%>" name="prenom" id='prenom'>
 <input type="text" placeholder="<%= __('tel')%>" name="telephone" id='telephone'>
  <input type="text" placeholder="<%= __('courriel')%>" name="courriel" id='courriel'>
 <button type="submit"><%= __('ajouter')%></button>
</form>

<form class="formulaire" name="frmUpdate" id="frmUpdate" action="/modifier" method="post">
    <input  type="text" placeholder="_id" name="_id" id='_id'>
    <input type="text" placeholder="<%= __('nom')%>" name="nom" id='nom'>
    <input type="text" placeholder="<%= __('prenom')%>" name="prenom" id='prenom'>
    <input type="text" placeholder="<%= __('tel')%>" name="telephone" id='telephone'>
    <input type="text" placeholder="<%= __('courriel')%>" name="courriel" id='courriel'>
    <button type="submit"><%= __('modifier')%></button>
</form>