<div class="global couleur-menu">
	<div> <!-- début barre de menu -->
		<input id='burger' type='checkbox'>
		<label for='burger'>
			<i class="fa fa-times" aria-hidden="true"></i>
			<i class="fa fa-bars" aria-hidden="true"></i>
		</label>
		<div id='menu'>
			<nav> 		 
				 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i><%= __('accueil')%></a>
				 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i><%= __('vider')%></a>
				 <a href='/adresse'><i class="fa fa-graduation-cap" aria-hidden="true"></i><%= __('adresse')%></a>
				 <a href='/chat'><i class="fa fa-graduation-cap" aria-hidden="true"></i><%= __('chat')%></a>

				 <% if(getLocale() == 'fr') {%>
					<a href='/en'><i class="" aria-hidden="true"></i>EN</a>
				<%} else {%>
					<a href='/fr'><i class="" aria-hidden="true"></i>FR</a>
				<%}%>

			</nav> 
			<form class='recherche'  action='/adresse' name="recherche" id="recherche">
			    <input type="text" name="recherche" 
			    value="<%= (typeof recherche == 'undefined')? '' : recherche %>">
			    <button><i class="fas fa-search"></i></button>
			</form>
		</div> <!-- .menu -->
	</div> <!-- fin barre de menu -->
</div>



