<!DOCTYPE html>
<html>
	<%- include('composants/head') %>
	<%- include('composants/menu') %>
	<%- include('composants/entete') %>
	<%- include('composants/socket_body') %>
	<%- include('composants/footer') %>

	<!-- Le serveur va trouver le fichier dans la biblio de socket.io installé par npm -->
	 <script src="socket.io/socket.io.js"></script> 

</html>